/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

/* --- Page --- */

.page {
  color: var(--accent-color, black);
  font-family: var(--main-font-family, 'Inter-Variable'), sans-serif;
  background-image: var(--bg-image, repeating-linear-gradient(#d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(90deg, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px), 
    linear-gradient(#e7e7e7 0.01%, #1a1a1a ));
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--text-wght, 400);
}

/* --- Header --- */

.header {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  gap: 20px;
  margin-block: 100px;
  border: 2px solid var(--accent-color, black);
  padding: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem) 0 13px;
  font-family: var(--accent-font-family, 'PressStart2P'), sans-serif;
  background-color: var(--bg-color, white);
}

.width {
  inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
}

.logo {
  font-weight: var(--text-wght, 400);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: 1em;
}

.header__heading {
  font-weight: var(--text-wght, 400);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  line-height: 1em;
  text-transform: uppercase;
}

button:focus {
  outline: none;
}

.theme-menu__button {
  position: relative;
  border: none;
  padding-block-start: 4px;
  font-weight: var(--text-wght, 400);
  font-size: 14px;
  line-height: 1em;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.theme-menu__button:focus-visible,
.theme-menu__button:focus-visible::after,
.theme-menu__button:hover,
.theme-menu__button:disabled {
  opacity: 0.6;
  transition: opacity 0.3s;
  transition-timing-function: ease;
}

.theme-menu__button::after {
  content: '';
  position: absolute;
  background-color: var(--accent-color, black);
  transform: scaleX(0);
  transform-origin: 0;
  block-size: 2px;
  inset-block-start: 1.3em;
  inset-inline-start: 0.4em;
  inline-size: calc(100% - 0.9em);

}

.theme-menu__button:focus-visible::after {
  transition: transform 0.3s;
  transform: scaleX(1);
}

.theme-menu__button:disabled {
  position: relative;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  animation: moving 0.5s ease-in-out infinite alternate;
  inset-inline-start: -1em;
}

.theme-menu__button:focus {
  opacity: 0.6;
}

.theme-menu__item {
  margin-block-end: 10px;
  padding-inline-start: 18px;
}

/* --- Content --- */

.section {
  position: relative;
  margin: auto;
  margin-block-end: 3.15em;
  border: 2px solid var(--accent-color, black);
  background-color: var(--bg-color, white);
}

.subtitle {
  padding-inline-start: 0.5em;
  padding-block: clamp(0.1875rem, 0.1655rem + 0.0939vw, 0.25rem);
  font-size: 18px;
  line-height: 1.3em;
  font-variation-settings: 'wght' var(--subtitle-wght, 700);
}

/* --- Pictures --- */

.picture-block {
  position: relative;
  border-block: 2px solid var(--accent-color, black);
  /* block-size: clamp(23.4375rem, 16.2412rem + 30.7042vw, 43.875rem); */
  block-size: clamp(23.5625rem, 16.4542rem + 30.3286vw, 43.75rem);
}

.subtitle-picture {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.filter-brightness {
  filter: brightness(120%);
}

.filter-contrast {
  filter: contrast(80%);
}

.filter-invert {
  filter: invert(100%);
}

.filter-grayscale {
  filter: grayscale(70%);
}

.filter-saturate {
  filter: saturate(140%);
}

.filter-hue-rotate {
  filter: hue-rotate(180deg);
}

.filter-multiple {
  filter: saturate(105%) contrast(110%) brightness(127%);
}

.picture-decoration {
  position: absolute;
  opacity: 0.5;
  font-family: var(--accent-font-family, 'PressStart2P'), sans-serif;
  font-weight: var(--text-wght, 400);
  font-size: 14px;
  line-height: 1em;
  text-shadow: 0 0 2px var(--stroke-color, white);
  inset-inline-end: 25px;
  inset-block-start: 25px;
  mix-blend-mode: hard-light;
}

@supports((text-stroke: 1px var(--stroke-color, white)) or (-webkit-text-stroke: 1px var(--stroke-color, white))) {
  .picture-decoration {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--stroke-color, white);
    text-stroke: 1px var(--stroke-color, white);
  }
}

.text {
  padding-inline: 1.3em;
  padding-block: 1.35em 0.27em;
  font-size: 18px;
  line-height: 1.1666em;
}

/* --- Like buttons --- */

.like-area {
  display: flex;
  justify-content: end;
  align-items: start;
  gap: 4px;
  margin: 1.1em 1.6em 1.59em;
}

.card__icon-button {
  border: 2px solid transparent;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  block-size: 38px;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color, black);
  transition: border 0.3s ease;
}

.sparks {
  opacity: 0;
}

.section__button {
  position: relative;
  display: block;
  border: 2px solid var(--accent-color, black);
  padding-block: 7px;
  overflow: hidden;
  background-color: transparent;
  cursor: pointer;
}

.section__button::after {
  content: '';
  position: absolute;
  background-color: var(--reversed-color, white);  
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
  inset-block-start: 0;
  inset-inline-start: 0;
  block-size: 100%;
  inline-size: 100%;
  mix-blend-mode: difference;
}

.section__button:hover::after {
  transition: transform 0.5s ease-in-out;
  transform: translateX(0);
}

.section__button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color, black);
  transition: box-shadow 0.3s ease;
}

.card__like-button {
  inline-size: 129px;
}

.button__text {
  position: relative;
  z-index: 2;
  color: var(--reversed-color, white);
  font-family: var(--accent-font-family, 'PressStart2P'), sans-serif;
  font-size: 14px;
  line-height: 1em;
  mix-blend-mode: difference;
}

/* --- Save button --- */

.save__button {
  margin: 0 auto;
  padding: 13px 22px;
  background-color: var(--bg-color, white);
  margin-block-end: clamp(6.25rem, 6.184rem + 0.2817vw, 6.4375rem);

}

.floppy {
  color: var(--reversed-color, white);
  inline-size: 21px;
  block-size: 21px;
  mix-blend-mode: difference;
}

/* --- Dialog --- */

.popup-save[open] {
  border: 2px solid var(--accent-color, black);
  background-color: var(--bg-color, white);
  inline-size: clamp(21.3125rem, 21.0484rem + 1.1268vw, 22.0625rem);
}

.popup-save::backdrop {
  background-color: rgb(0 0 0 / .75);
}

.dialog-wrapper {
  display: flex;
  gap: 20px;
  margin: 11px 47px 31px 12px;
}

.dialog-floppy {
  color: var(--accent-color, black);
  inline-size: 95px;
}

.dialog-text {
  color: var(--accent-color, black);
  font-family: var(--accent-font-family, 'PressStart2P'), sans-serif;
  font-weight: var(--text-wght, 400);
  font-size: 14px;
  line-height: 1.5em;
  text-transform: uppercase;
}

.dialog-button {
  margin-inline: auto;
  margin-block-end: 12px;
  padding-inline: 132px;
}

/* --- Media --- */

@media (width<=375px) {
  .width {
    inline-size: 100%;
  }
  
  .subtitle {
    padding-inline-end: 20px;
  }

  .picture-decoration {
    inset-inline-end: 11px;
    inset-block-start: 22px;
  }

  .text {
    padding-inline: 1.4em;
    padding-block-start: 1.3em;
  }

  .like-area {
    margin: 1.1em 1.6em 1.65em;
  }

  .save__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .floppy {
    inline-size: 28px;
    block-size: 28px;
  }

  .dialog-wrapper {
    margin: 15px 21px 28px 23px;
  }

  .dialog-button {
    padding-inline: 112px;
  }
}